*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
}

body {
	background-color: rgb(147, 175, 175);
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 1;
}

.game-container {
	width: 95vw;
	height: 300px;
	border: 6px solid black;
	box-shadow: 0 10px 20px rgb(75, 75, 75);
	overflow: hidden;
	position: relative;
	transition: background-image 0.7s linear;
}

#bg-overlay {
	width: 500vw;
	height: 100%;
	background: url("./assets/bg-day.jpg");
	background-size: contain;
}

.animate-bg {
	animation: bg-animate 60s linear infinite;
}

.hidden {
	display: none;
}

@keyframes bg-animate {
	from {
		transform: translateX(0); /* Start position */
	}
	to {
		transform: translateX(-400vw);
	}
}

#dino {
	width: 50px;
	height: 50px;
	background: url("./assets/dino.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 10%;
	left: 3%;
	transition: all 0.09s linear;
	/* border: 2px solid red; */
}

.dino-jump {
	animation: jump 0.8s ease-out;
}

.dino-crouch {
	animation: crouch 0.8s ease-out;
}

.enemy-move-1 {
	animation: enemy-move 3.8s linear infinite;
}
.enemy-move-2 {
	animation: enemy-move 2.5s linear infinite;
}
.enemy-move-3 {
	animation: enemy-move 1.7s linear infinite;
}

@keyframes jump {
	0% {
		bottom: 10%;
	}
	50% {
		bottom: 50%;
	}
	100% {
		bottom: 10%;
	}
}

@keyframes crouch {
	0% {
		bottom: 10%;
	}
	50% {
		bottom: -2%;
	}
	100% {
		bottom: 10%;
	}
}

.enemy {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 10%;
	left: 95%;
	/* border: 2px solid black; */
}

#enemy1 {
	background: url("./assets/enemy1.png");
	background-size: contain;
	background-repeat: no-repeat;
}
#enemy2 {
	background: url("./assets/enemy2.png");
	background-size: contain;
	background-repeat: no-repeat;
}
#enemy3 {
	background: url("./assets/enemy3.png");
	background-size: contain;
	background-repeat: no-repeat;
	bottom: 22%;
}

@keyframes enemy-move {
	from {
		left: 90%; /* Start position */
	}
	to {
		left: -10%;
	}
}

.overlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba(19, 83, 103, 0.289);
	backdrop-filter: blur(10px);
	z-index: 2;
	display: flex;
	justify-content: center;
	position: absolute;
	align-items: center;
}

#instructions,
#gameover-container {
	width: 80vw;
	max-width: 400px;
	background-color: rgb(11, 55, 68);
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	align-items: center;
	padding: 30px 10px;
	color: white;
}

#i-title {
	font-size: 20px;
	letter-spacing: 1.4px;
	text-align: center;
}

.rules p {
	margin: 10px 5px;
	font-size: 14px;
	color: rgb(224, 224, 224);
	line-height: 20px;
	text-align: center;
}
p.subtitle {
	font-size: 18px;
	text-align: center;
}

.rules p.last {
	margin-top: 30px;
	color: white;
}

button.start {
	width: 100%;
	margin: 5px 0;
	padding: 6px 10px;
	border-radius: 4px;
	border: 0;
}

.key {
	padding: 2px 4px;
	margin: 3px;
	border-radius: 3px;
	background-color: rgb(182, 182, 182);
	color: black;
	font-family: "Caprasimo", serif;
}

#close {
	position: absolute;
	width: 30px;
	height: 30px;
	top: -5px;
	right: -5px;
	background-color: rgb(235, 235, 235);
	border-radius: 24px;
	padding: 2px;
	color: rgb(196, 94, 94);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
	visibility: hidden;
}

#gameover-container h4 {
	font-size: 18px;
	font-weight: 300;
}
#gameover-container h2 {
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 1.2px;
}
#restart {
	padding: 4px 10px;
}

@media screen and (min-width: 540px) {
	.game-container {
		height: 400px;
	}
	#dino,
	.enemy {
		width: 65px;
		height: 65px;
	}
}

@media screen and (min-width: 740px) {
	.game-container {
		width: 90vw;
		height: 450px;
		background-position: center center;
		background-size: contain;
	}
	#dino,
	.enemy {
		width: 70px;
		height: 70px;
	}
}

@media screen and (min-width: 1024px) {
	.game-container {
		height: 550px;
	}
	#dino,
	.enemy3 {
		width: 85px;
		height: 85px;
	}
}
